/Public
/Pictures
/Music
/Movies
/Library
/Google 드라이브
/Documents
/Downloads
/Desktop
/Applications
/.Trash
/Applications (Parallels)
/.android
/.bash_sessions
/.cache
/.gradle
/.m2
/.oracle_jre_usage
/.vim
/.bash_history
/.CFUserTextEncoding
/.dbshell
/.gitconfig
/.hgignore_global
/.viminfo
/.zsh-update
/.zsh_history
/.zshrc.pre-oh-my-zsh
/.zcompdump-*
/src
/workspace
/zookeeper
/.AndroidStudio*
/.IntelliJIdea*
/.atom
/.config
/.eclipse
/.gem
/.htoprc
/.iterm*
/.jrebel*
/.mono
/.mysql*
/.nmp
/.node*
/.oh-my-zsh
/.p2
/.mitmproxy
/.rbenv
/.sonar
/.rediscli*
/.ssh
/.subversion
/.vagrant*
/vagrant
/ssh-igw1
/scripts
/python*
/SQLGateDriver*
/.sqldeveloper
/Fiddler2
/NCSDrive
/hbase
/apps/apache-tomcat-*/temp
/apps/apache-tomcat-*/logs
/apps/apache-tomcat-*/bin/server-time*.log

